<div class="todos">
    <form (submit)="addToDo()">
        <input type="text" name="inputToDo" placeholder="Enter todo.." class="todo-input" [(ngModel)]="inputToDo"/>
        <input type="submit" value="Add Todos" class="todo-submit" />
    </form>
    <div  *ngFor="let todo of todos; let i = index;" class="todo {{ (todo.completed?'done':'') }}">
        <div class="id">{{ i }}</div>
        <div class="content" (click)="toggleDone(i)">{{todo.content}}</div>
        <button class="delete" (click)="deleteTodo(i)">REMOVE</button>
    </div>
</div>